/* Forgot Password Page */

#forgot_password_txt {
    font-size: 2em;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

body {
    background-color: rgba(233, 236, 246, 1)
}


#invoicer_logo_fp_pg {
    margin-top: 8vh;
}

.input_field_fp {
    margin-top: 0.1vh;
}

#password_input_fp_pg {
    margin-top: 0.1vh;
    margin-bottom: 1.5vh;
}


#send_button_fp {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.bg_input_fp_pg {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

#confirm_txt {
    display: none;
    font-size: 1.25em;
    font-family: Roboto, serif;
    color: #979799;
}

#confirm_btn_fp_pg {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.no-click {
    pointer-events: none;
    color: rgba(131, 128, 128, 0.911);
  }
