html {
    --md-sys-color-primary: rgb(0, 68, 255);
    --md-sys-color-shadow: rgba(0, 68, 255, 0);
    --md-sys-color-tertiary: #fff;
    --md-sys-color-tertiary-container: #fff;
    --md-sys-color-background: #fff;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-secondary: #ffffff;
    --md-sys-color-surface: #fff;
    --md-sys-color-inverse-on-surface: #fff;
    --md-sys-color-on-tertiary-container: #ffffff;
    /* tertiary */
    --md-sys-color-surface-variant: #ffffff;
    /* switch active state*/
    --md-sys-color-primary-container: #DEE1FF;
    /*	--md-fab-container-elevation: 0;*/
    /*	--md-sys-color-surface-light: #E2E7FF;*/
}

/* Log In Page */

#log_in_text {
    font-size: 32px;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}


a {
    text-decoration: none;
    text-decoration-line: none;
    color: black;
}

.hint_text_lg_pg {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 13px;
    font-family: Roboto;
}

#invoicer_logo_lg_pg {
    margin-top: 8vh;
}

#email_input_lg_pg {
    margin-top: 0.1vh;
    margin-bottom: 1.5vh;
}

#password_input_lg_pg {
    /*margin-top: 1.5vh;*/
    margin-bottom: 0.1vh;
}

#log_in_confirmation_button_log_in_page {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#bg_input_lg_pg {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}


/* Registration Page */

#sign_up_text_rg_pg {
    font-size: 2.1em;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

.hint_text_rg_pg {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 0.8em;
    font-family: Roboto, serif;
}

#bg_input_rg_pg {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#sign_up_confirm_btn_rg_pg {
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}

.row-input {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0;
    padding-right: 0;
}


/*Add item and edit item page Nadia and Vitalik*/
/*Menu*/

.close_btn:hover {
    cursor: pointer;
}

.nav-pills > li > a {
    border-radius: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;

}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /* overflow-x: hidden; */
    background: rgba(221, 228, 246, 1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
    min-height: 400px;
}

.xyz {
    min-width: 320px;
    margin-bottom: 135px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-family: Roboto;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(0, 0, 0, 0.05);
    max-width: 90%;
    border-radius: 0 20px 20px 0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.no-margin {
    margin: 0;
}

@media (min-width: 831px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 61px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}

.icon_menu {
    width: 75%;
    height: 75%;
    display: revert;
    margin-top: -5px;
}

.nav-stacked > li + li {
    margin-top: 25px;
    margin-left: 0;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: rgb(255 255 255 / 48%);
    max-width: 90%;
    border-radius: 0 20px 20px 0;
    color: #000;
    font-weight: 500;
}

.fa-stack {
    margin-right: 10px;
}

#menu-toggle-2 {
    border: none;
    background-color: rgba(221, 228, 246, 1);
    display: flex;
    width: 61px;
    align-items: center;
    justify-content: center;
}

.navbar-header {
    display: flex;
}

#logo_img_menu {
    padding-left: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(221, 228, 246, 1);
}

#user_name_column {
    padding: 0;
}

#user_icon_column {
    padding: 0;
}

p {
    margin-bottom: 0rem;
}

#user_name_and_icon_column {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active {
    margin-top: -2px;
}


.client_header_text {
    font-size: 2.1em;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

#client_edit_page {
    background-color: rgba(233, 236, 246, 1);
    padding: 25px;
}

#background_input_client_edit_page {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 5px;

}

.input_user_edit {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
}

#column_save_changes_edit_client_page {
    display: flex;
    align-items: flex-end;
}

#save_button_edit_client_page {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 576px) {
    #background_input_client_edit_page {
        background-color: white;
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 5px;
    }
}


#top_invoicer_logo {
    background-color: rgba(0, 68, 255, 0.14);
}

#top_invoicer_logo div {
    padding-top: 5px;
}

#menu_open_button {
    margin-left: 16px;
}

.settings_subpage {
    margin-bottom: 35px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 35px;
    margin-right: 130px;
    text-align: left;
    font-family: Roboto;
    display: flex;
    justify-content: flex-start;
    justify-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 15px;
    height: fit-content;
}

.save_changes_button {
    display: flex;
    justify-content: left;
    justify-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 65px;
}

.change_password {
    padding-left: 20px;
    font-family: Roboto;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
}

/*.change_password > .content > .item {*/
/*    display: flex;*/
/*    text-align: left;*/
/*    justify-content: flex-start;*/
/*    justify-items: left;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-content: flex-start;*/
/*    align-items: flex-start;*/
/*    padding-bottom: 10px;*/
/*    padding-top: 10px;*/
/*}*/

/*.collapsible {*/
/*    background-color: #ffffff;*/
/*    border-radius: 15px;*/
/*    color: rgb(0, 68, 255);*/
/*    cursor: pointer;*/
/*    padding: 18px;*/
/*    width: 90%;*/
/*    padding-right: 50px;*/
/*    border: none;*/
/*    text-align: left;*/
/*    outline: none;*/
/*    !*font-size: 17px;*!*/

/*}*/

/*.collapsible:active,*/
/*.collapsible:hover {*/
/*    border-bottom: solid;*/
/*}*/

/*.collapsible:active {*/
/*    width: 90%;*/
/*}*/

.content {
    display: none;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 17px;
}

/*.last_row_change_pass {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    justify-items: flex-start;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-content: flex-start;*/
/*    align-items: flex-start;*/
/*}*/

/*.grid_last_row {*/
/*    display: grid;*/
/*    align-items: flex-start;*/
/*    justify-content: left;*/
/*    align-content: flex-start;*/
/*    justify-items: left;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 85px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/

.last_row_change_pass > .grid_last_row > .item {
    padding-top: 0;
    padding-bottom: 0;
}

h5 {
    margin-top: 7px;
}


/* ACCORDION */

ul {
    list-style: none;
}

.accordion-menu {
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    padding-left: 0;
}

.accordion-menu li:last-child .dropdown_settings {
    border-bottom: 0;
}

.accordion-menu li.active .dropdown_settings .material-symbols-outlined {
    transform: rotate(180deg);
}

.dropdown_settings {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    border-bottom: solid rgb(0, 68, 255);
    color: rgb(0, 68, 255);
    position: relative;
    transition: all 0.4s ease-out;
}

.dropdown_settings:active,
.dropdown_settings:hover {
    border-bottom: solid;
}

.dropdown_settings span {
    position: absolute;
    top: 17px;
    left: 16px;
    padding-top: 7px;
    padding-right: 10px;
}

.dropdown_settings .material-symbols-outlined {
    right: 12px;
    left: auto;
    padding-top: 7px;
    padding-right: 10px;
    transition: transform 0.2s ease-in-out;
}

.submenuItems {
    display: none;
    background: #ffffff;
    transition: all 2s ease-in-out;
    overflow: hidden;
    padding-bottom: 40px;
    padding-left: 30px;
}

.accordion-menu li.active .submenuItems {
    display: block;
}


.container {
    padding-left: 0;
}

.link:hover {
    border-bottom: solid;
    border-radius: 15px;
    border-color: rgb(0, 68, 255);
}

.link.active:hover {
    border: none;
}

md-fab-extended {
    --_label-text-color: #000;
}

#additional_item_button {
    --_container-height: 40px;
    --_label-text-color: rgba(87, 86, 86, 0.911);
    --_label-text-weight: 400;
}

/* Forgot Password Page */

#forgot_password_text {
    font-size: 32px;
    font-family: Roboto, serif;
    font-weight: 500;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

#forgot_password_page {
    background-color: rgba(233, 236, 246, 1)
}

#logo_invoicer_big_forgot_password_page {
    margin-top: 8vh;
}

#email_input_forgot_password_page {
    margin-top: 0.1vh;
}

#password_input_forgot_password_page {
    margin-top: 0.1vh;
    margin-bottom: 1.5vh;
}

#send_code_button_forgot_password_page {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#background_input_forgot_password_page {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

#confirmation_text {
    display: none;
    font-size: 20px;
    font-family: Roboto, serif;
    color: #979799;
}

#resend_text {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 13px;
    font-family: Roboto;
    margin-top: 15px;

}

.client_list_item {
    background-color: #fff;
    border-radius: 15px;
    height: 55px;
    margin-left: 0;
    width: 90%;
}

.item_name {
    overflow: hidden;
}

.items_list_item {
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    border-radius: 15px;
    height: 60px;
    margin-left: 0;
    width: 90%;
    margin-bottom: 10px;
}

.client_list_item:hover {
    cursor: pointer;
}

.list_item_user_icon_initials {
    background-color: #c1cff5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    margin-left: 1.3vw;
}

.list_item_user_icon_initials p {
    color: #001158;
    font-weight: 500;
}

.list_item_user_name p {
    font-weight: normal;
    color: rgb(27, 27, 31);
}

.list_item_user_debt p {
    font-weight: 500;
    color: rgb(70, 70, 79);
}

.list_item_user_buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-height: 100%;
}

@media screen and (max-width: 860px) {
    .client_list_item {
        width: 100%;
    }

    .items_list_item {
        width: 100%;
    }
}

@media screen and (max-width: 596px) {
    .list_item_empty_block {
        display: none;
    }
}

@media screen and (max-width: 596px) {
    .list_item_user_buttons {
        display: none;
    }
}

@media screen and (min-width: 597px) {
    .list_item_more_button {
        display: none;
    }
}

@media screen and (max-width: 596px) {
    .list_item_more_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 596px) {
    .client_list_item {
        background-color: #fff;
        border-radius: 15px;
        margin-left: 0;
        width: 100%;
    }

    .items_list_item {
        width: 100%;
    }
}

ul {
    list-style: none;
}

.client_list_item {
    margin-bottom: 10px;
}

body {
    background-color: rgba(233, 236, 246, 1)
}

.search {
    width: 60%;
    position: relative;
    display: flex;
    background-color: rgba(0, 68, 255, 0.11);
    border-radius: 10px;
}

.search_term {
    height: 47px;
    background-color: transparent;
    width: 100%;
    border: 3px solid transparent;
    border-right: none;
    padding: 5px;
    outline: none;
    color: #3d3d44;
}

.search_term:focus {
    color: #3d3d44;
}

.search_button {
    padding: 1px;
    width: 66px;
    height: 45px;
    border: 1px solid transparent;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sort_icon {
    width: 26px;
    height: 26px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.sort_drop_btn {
    background-color: transparent;
    border: none;
}

.sort_dropdown {
    position: relative;
    display: inline-block;
}

.sort_dropdown-content {
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-inline: -100px;
}

.sort_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort_dropdown-content a:hover {
    cursor: pointer;
    background-color: #f1efef;
}

.sort_dropdown:hover .sort_dropdown-content {
    display: block;
}

.material-icons {
    font-size: 36px;
    color: #767680;
}

/*dropdown logout*/

.dropdown_logout {
    position: relative;
    display: inline-block;
}

.sort_drop_btn_logout {
    background-color: transparent;
    border: none;
}

.dropdown_logout {
    position: relative;
    display: inline-block;
}

.sort_dropdown-content_logout {
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 35px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sort_dropdown-content_logout a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort_dropdown-content_logout a:hover {
    cursor: pointer;
    background-color: #f1efef;
}

.dropdown_logout:hover .sort_dropdown-content_logout {
    display: block;
}


.main_text {
    color: #46464F;
    font-size: 1.05em;
    font-weight: 500;
    padding-bottom: 10px;
    padding-right: 10px;
}

.additional_text {
    color: #888888;
    font-size: 0.65em;
    padding-top: 10px;
    padding-right: 10px;
}

.validation {
    background: rgba(0, 68, 255, 0.11);
    padding: 10px;
    margin-right: 60px;
    border-radius: 15px;
}

.validation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 10px;
}

.validation ul li {
    position: relative;
    list-style: none;
    color: #000;
    font-weight: 500;
    font-size: 0.95em;
    transition: 0.5s;
}

.validation ul li::before {
    content: "\e001";
    font-family: "Material Icons";
    vertical-align: -0.2em;
    color: #FF0000;
    width: 20px;
    height: 10px;
    font-size: 23px;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.validation ul li.valid::before {
    content: "\e92d";
    color: #008000;
    font-size: 23px;
}

.validation ul li.valid {
    color: rgba(153, 153, 153, 0.5);
}

.background_settings_page {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 0.8vw;
    height: fit-content;
}

.background_change_password {
    margin-left: 0.8vw;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
}

.list_invoice_user_buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-height: 100%;
}

.invoice_info_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #46464F;
    font-size: 14px;
    padding-right: 16px;
    padding-bottom: 10px;
}

.invoice_bottom_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 100%;
}

.invoice_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #46464F;
    font-size: 17px;
    font-weight: 500;
    padding-right: 16px;
    padding-top: 10px;
}

.currency_text {
    color: #46464F;
    font-size: 17px;
    font-weight: 500;
    padding: 18px;
    margin-right: 60px;
}

.error_country_dropdown {
    color: #b3251e;
    font-size: 10.5px;
    font-family: Roboto, serif;
    padding-left: 1.3em;
    flex-wrap: wrap;
    height: 18px;
    align-content: space-around;
}

.error_unit_dropdown {
    color: #b3251e;
    font-size: 12px;
    font-family: Roboto, serif;
    padding-top: 0.3em;
    padding-left: 1.3em;
    flex-wrap: wrap;
    height: 18px;
    align-content: space-around;
}

.error_currency_dropdown {
    color: #b3251e;
    font-size: 12px;
    font-family: Roboto, serif;
    padding-top: 0.3em;
    padding-left: 1.3em;
    flex-wrap: wrap;
    height: 18px;
    align-content: space-around;
}


body {
    margin: 0 0 55px 0;
}

.nav_mobile {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(221 228 246);
    display: flex;
    overflow-x: auto;
}

.nav__link_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link_mobile:hover {
    background-color: rgba(255, 255, 255, 0.94);
}

.nav__link_mobile--active {
    color: black;
    background-color: rgb(255 255 255 / 48%);
}

.nav__icon_mobile {
    font-size: 18px;
}

.menu_item_icon_mobile {
    height: 25px;
}

@media (max-width: 830px) {
    #sidebar-wrapper {
        display: none;
    }

    #navigation_hamburger_button_and_logo {
        display: none;
    }

    #user_name_and_icon_column {
        display: none;
    }
}

@media (max-width: 940px) {
    #user_name_and_icon_column {
        display: none;
    }
}

@media (max-width: 540px) {
    #adder {
        display: none;
    }

    .search {
        width: 75%;
    }
}


#float_button {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
}

@media (max-width: 540px) {
    #float_button {
        display: flex;
    }
}

@media (min-width: 541px) {
    #float_button {
        display: none;
    }
}

.contextmenu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    z-index: 12;
    box-shadow: 0px 0px 5px #888;
}

.contextmenu hr {
    border: 1px solid #CCC;
}

item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
}

item:first-child {
    padding-top: 8px;
}

item:last-child {
    padding-bottom: 8px;
}

item[state*="gray"] {
    color: #AAA;
}

item:not([state*="gray"]):hover {
    cursor: pointer;
}

item:not([state*="gray"]):hover {
    color: #003aff;
    background-color: rgba(44, 44, 44, 0.02);
}

item:not([state*="gray"]):first-child:hover {
    /*border-radius: 5px 5px 0px 0px;*/
}

item:not([state*="gray"]):last-child:hover {
    /*border-radius: 0px 0px 5px 5px;*/
}

#change_btn_fp_pg {
    margin-top: 15px;
}

.emptyMessageText {
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: auto;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}

.close {
    --md-icon-color: red;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipient-email-input {
    width: 80%;
    margin-bottom: 20px;
}

@keyframes animate_error {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate_success {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.errorMessage {
    color: #f44336;
    animation-name: animate_error;
    animation-duration: 2s;
    margin-top: 10px;
    font-size: 18px;
    animation-fill-mode: forwards;
}

.successMessage {
    color: #4CAF50;
    font-size: 18px;
    margin-top: 10px;
    animation-name: animate_success;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.emptyMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.emptyMessageText {
    font-size: 18px;
    color: #3b3b3b;
}

.empty_invoice {
    color: #cd2219;
    visibility: hidden;
}

.invoice_list_item {
    background-color: #fff;
    border-radius: 15px;
    height: 6%;
    margin-left: 0;
    width: 90%;
}

.invoice_list_item:hover {
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .invoice_list_item {
        width: 100%;
    }
}

.invoice_list_item {
    margin-bottom: 10px;
}

@media screen and (max-width: 596px) {
    .list_item_empty_block {
        display: none;
    }
}

@media screen and (max-width: 596px) {
    .list_invoice_user_buttons, .invoice_info_text:last-child {
        display: none;
    }

    .currency_text {
        margin-right: 0;
    }
}

@media screen and (min-width: 597px) {
    .list_invoice_more_button {
        display: none;
    }
}

@media screen and (max-width: 596px) {
    .list_invoice_more_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.background_input_invoice_in_page {
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-top: 15px;
    height: fit-content;
}

#add_items_id {
    padding-left: 0;
}

#to_insert {
    margin-bottom: 20px;
    margin-top: 20px;
}

#invoice_name_display {
    padding-top: 10px;
}

.custom_dropdown_invoice{
    margin-bottom: 1rem;
}