<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Edit client</title>
        <!--BOOTSTRAP CONNECTION-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous" />
        <!--Icons for menu connection-->
        <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172203/font-awesome.min.css" />
        <!-- Google fonts and icons connection-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" />
        <!--Normalize CSS-->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <!--Custom CSS styles-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body id="log_in_page">
        {% include "menu_nav.html" %}
        <div id="wrapper" class="toggled-2">
            <!-- Sidebar -->
            {% include "menu_wrapper.html" %}
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid xyz" id="other_elements">
                    <div class="container-fluid">
                        <div class="row">
                            <p id="client_edit_text">Edit client</p>
                        </div>

                        <div class="d-flex row" id="background_input_client_edit_page">
                            <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-5">
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="name_input_client_edit_page"
                                        label="Name"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="surname_input_client_edit_page"
                                        label="Surname"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="email_input_client_edit_page"
                                        label="Email"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="telephone_input_client_edit_page"
                                        label="Telephone number"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="zip_input_client_edit_page"
                                        label="ZIP code"></md-outlined-text-field>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-5">
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="country_input_client_edit_page"
                                        label="Country"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="city_input_client_edit_page"
                                        label="City"></md-outlined-text-field>
                                </div>
                                <div class="row input_user_edit">
                                    <md-outlined-text-field
                                        id="address_input_client_edit_page"
                                        label="Address"></md-outlined-text-field>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-2 col-md-2"></div>
                            <div class="row" id="save_button_edit_client_page">
                                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-8"></div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-4">
                                    <md-fab-extended
                                        icon="add_circle_outline"
                                        label="Edit client"
                                        id="request_edit_sender"></md-fab-extended>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/index.js' %}"></script>
        <script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'js/edit_client_request.js' %}"></script>
    </body>
</html>
