<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/172203/font-awesome.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/items_add.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
  {% include "menu_nav.html" %}
  <div id="wrapper" class="toggled-2">
      {% include "menu_wrapper.html" %}
      <div id="page-content-wrapper">
                <div class="container-fluid xyz">
                    <div class="row text-left">
                        <p id="new_item_text">Edit item</p>
                    </div>
                    <div class="row d-flex flex-wrap flex-row">
                        <div class="container-fluid col-xxl-6 col-xl-8 col-lg-8 background_input_item_in_page">
                            <div class="row">
                                <div class="d-flex flex-wrap flex-column col-xxl col-xl col-lg">
                                    <md-outlined-text-field class="input_field" label="Name" id="name" type="text"></md-outlined-text-field>
                                    <md-outlined-text-field class="input_field" label="Price" id="price" type="text"></md-outlined-text-field>
                                    <div class="dropdown_list input_field">
                                        <div class="d-flex flex-wrap flex-row">
                                        <button class="dropdown__button dropdown_button_currency" type="button">Currency</button>
                                        <div class="arrow-up"></div>
                                    </div>
                                        <ul class="dropdown__list">
                                          <li class="dropdown__list-item" data-value="UAH">UAH 🇺🇦</li>
                                          <li class="dropdown__list-item" data-value="USD">USD 🇺🇸</li>
                                          <li class="dropdown__list-item" data-value="EUR">EUR 🇪🇺</li>
                                        </ul>
                                        <input class="dropdown__input_hidden" id="currency" type="text" name="select-category" value=""/>
                                      </div>
                                      <div class="dropdown_list input_field">
                                            <div class="d-flex flex-wrap flex-row">
                                            <button class="dropdown__button dropdown_button_basic_unit" type="button">Basic unit</button>
                                            <div class="arrow-up"></div>
                                       </div>
                                          <ul class="dropdown__list">
                                            <li class="dropdown__list-item" data-value="kg">kg</li>
                                            <li class="dropdown__list-item" data-value="g">g</li>
                                            <li class="dropdown__list-item" data-value="mg">mg</li>
                                              <li class="dropdown__list-item" data-value="piece">piece</li>
                                          </ul>
                                          <input class="dropdown__input_hidden" id="basic_unit" type="text" name="select-category" value=""/>
                                        </div>
                                    <md-outlined-text-field class="input_field" label="Amount in stock" id="amount_in_stock" type="text"></md-outlined-text-field>
                                    <md-outlined-text-field class="input_field" label="Barcode" id="barcode" type="text"></md-outlined-text-field>
                                </div>
                                <div class="d-flex flex-wrap flex-column col-xxl col-xl col-lg" id="column-2">
                                  <div class="d-none flex-wrap flex-column additional_unit">
                                    <md-outlined-text-field label="Aditional unit 1" class="input_field additional_unit_field" type="text" id="AU1"></md-outlined-text-field>
                                  <md-outlined-text-field label="Amount in aditional unit 1" class="input_field amount_additional_unit_field" type="text" id="amount_AU1"></md-outlined-text-field>
                                  <div class="d-flex flex-wrap justify-content-end">
                                  <span class="material-symbols-outlined d-flex justify-content-end input_field close_btn">close</span>
                                  </div>
                                </div>
                                    <div class="d-none flex-wrap flex-column additional_unit">
                                      <md-outlined-text-field label="Aditional unit 2" class="input_field additional_unit_field" type="text" id="AU2"></md-outlined-text-field>
                                  <md-outlined-text-field label="Amount in aditional unit 2" class="input_field amount_additional_unit_field" type="text" id="amount_AU2"></md-outlined-text-field>
                                  <div class="d-flex flex-wrap justify-content-end">
                                  <span class="material-symbols-outlined d-flex justify-content-end input_field close_btn">close</span>
                                  </div>
                                </div>
                                <div class="d-none flex-wrap flex-column additional_unit">
                                  <md-outlined-text-field label="Aditional unit 3" class="input_field additional_unit_field" type="text" id="AU3"></md-outlined-text-field>
                                  <md-outlined-text-field label="Amount in aditional unit 3" class="input_field amount_additional_unit_field" type="text" id="amount_AU3"></md-outlined-text-field>
                                 <div class="d-flex flex-wrap justify-content-end">
                                  <span class="material-symbols-outlined d-flex justify-content-end input_field close_btn">close</span>
                                 </div>
                                </div>
                                <div class="d-none flex-wrap flex-column additional_unit">
                                  <md-outlined-text-field label="Aditional unit 4" class="input_field additional_unit_field" type="text" id="AU4"></md-outlined-text-field>
                                  <md-outlined-text-field label="Amount in aditional unit 4" class="input_field amount_additional_unit_field" type="text" id="amount_AU4"></md-outlined-text-field>
                                  <div class="d-flex flex-wrap justify-content-end">
                                  <span class="material-symbols-outlined d-flex justify-content-end input_field close_btn">close</span>
                                  </div>
                                </div>
                                <div class="d-none flex-wrap flex-column additional_unit">
                                  <md-outlined-text-field label="Aditional unit 5" class="input_field additional_unit_field" type="text" id="AU5"></md-outlined-text-field>
                                  <md-outlined-text-field label="Amount in aditional unit 5" class="input_field amount_additional_unit_field" type="text" id="amount_AU5"></md-outlined-text-field>
                                  <div class="d-flex flex-wrap justify-content-end">
                                  <span class="material-symbols-outlined d-flex justify-content-end input_field close_btn">close</span>
                                  </div>
                                </div>
                                  <md-fab-extended icon="add" class="input_field centered" id="additional_item_button" label="Add new additional unit"></md-fab-extended>
                                </div>
                            </div>
                            <div class="row">
                                <md-fab-extended class="input_field centered md-fab" icon="save" label="Save changes" id="edit_item_button"></md-fab-extended>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap flex-column container-fluid col-xxl col-xl col-lg background_input_item_in_page">
                            <div class="row text-left">
                              <h3 style="color:#46464F;" id="name_val">Name of item</h3>
                            </div>
                            <div class="row text-left">
                              <h5 class="secondary_text" id="barcode_val">Barcode: </h5>
                            </div>
                            <div class="container-fluid text-left" id="table">
                              <div class="row">
                                <div class="col-6 first_col">Price</div>
                                <div class="col-6 second_col" id="price_val"></div>
                              </div>
                              <div class="row">
                                <div class="col-6 first_col">Currency</div>
                                <div class="col-6 second_col" id="currency_val"></div>
                              </div>
                              <div class="row">
                                <div class="col-6 first_col">Basic unit</div>
                                <div class="col-6 second_col" id="basic_unit_val"></div>
                              </div>
                              <div class="row">
                                <div class="col-6 first_col">Amount in stock</div>
                                <div class="col-6 second_col" id="amount_in_stock_val"></div>
                              </div>
                              <div class="hidden additional_unit_cell">
                              <div class="row secondary_text table_header">Aditional unit 1</div>
                              <div class="row">
                                <div class="col-6 first_col" id="Aditional_unit_1">Aditional unit 1</div>
                                <div class="col-6 second_col" id="AU1_val"></div>
                              </div>
                            </div>
                            <div class="hidden additional_unit_cell">
                              <div class="row secondary_text table_header">Aditional unit 2</div>
                              <div class="row">
                                <div class="col-6 first_col" id="Aditional_unit_2">Aditional unit 2</div>
                                <div class="col-6 second_col" id="AU2_val"></div>
                              </div>
                            </div>
                            <div class="hidden additional_unit_cell">
                              <div class="row secondary_text table_header">Aditional unit 3</div>
                              <div class="row">
                                <div class="col-6 first_col" id="Aditional_unit_3">Aditional unit 3</div>
                                <div class="col-6 second_col" id="AU3_val"></div>
                              </div>
                            </div>
                            <div class="hidden additional_unit_cell">
                              <div class="row secondary_text table_header">Aditional unit 4</div>
                              <div class="row">
                                <div class="col-6 first_col" id="Aditional_unit_4">Aditional unit 4</div>
                                <div class="col-6 second_col" id="AU4_val"></div>
                              </div>
                            </div>
                            <div class="hidden additional_unit_cell">
                              <div class="row secondary_text table_header">Aditional unit 5</div>
                              <div class="row">
                                <div class="col-6 first_col" id="Aditional_unit_5">Aditional unit 5</div>
                                <div class="col-6 second_col" id="AU5_val"></div>
                              </div>
                            </div>
                              <div class="row" style="border-top: 1px solid rgba(0, 68, 255, 0.11);"></div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="module" src="{% static 'js/bundle.js' %}"></script>
    <script type="module" src="{% static 'js/edit_item_request.js' %}"></script>
    <script type="module" src="{% static 'js/add_edit_item.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
</html>