html {
	--md-sys-color-primary: rgb(0, 68, 255);
	--md-sys-color-secondary:	#018786;
	--md-sys-color-tertiary: #fff; 
	--md-sys-color-tertiary-container: #fff; 
	--md-sys-color-background: #fff;
	--md-sys-color-on-primary:	#ffffff;
	--md-sys-color-secondary: #ffffff;
	--md-sys-color-surface: #fff;
	--md-sys-color-inverse-on-surface: #fff;
	--md-sys-color-on-tertiary-container: #ffffff;
	/* tertiary */ 
	--md-sys-color-surface-variant: #ffffff;
	/* switch active state*/
	--md-sys-color-primary-container: #DEE1FF;
	/*	--md-fab-container-elevation: 0;*/
	/*	--md-sys-color-surface-light: #E2E7FF;*/
}

.menuContainer {
	background-color: rgba(0, 68, 255, 0.14);
	height: 100vh;
	width: 8vh;
	text-align: center;
	font-family: Roboto;
	display: flex;
  justify-content: flex-start;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.row img{
height: 26px;
width: fit-content;
text-align: center;
}

.menu_item{
		display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.menu_nav_items{
	margin-top: 25px ;
}

#fab_element{
	margin-top: 20px;
}

.menu_item p{
margin-bottom: 0;
padding-bottom: 0;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.chosen_nav_item{
	background-color: #f2f4fc;
	border-radius: 15px;
}

.nav_items{
/*	background-color: #f2f4fc;*/
/*	border-radius: 0 15px 15px 0;*/
}

.bg_outline_menu_item {
	background-color: rgba(242, 245, 255, 1);
	border-radius: 15px 15px 15px 15px;
}

.bg_outline_dark_menu_item{
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 15px 15px 15px 15px;
}

p {
	font-family: Roboto;
	font-size: 12px;
}

.shadow::after{
	box-shadow: none;
}

md-fab{
	--_container-width: 50px;
	--_container-height: 50px;
	--_container-elevation: var(--md-fab-container-elevation, 0.2);
}

#log_in_text{
	font-size: 32px;
	font-family: Roboto, serif;
	font-weight: 500;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

#log_in_page{
	background-color: rgba(233, 236, 246, 1)
}

a{
	text-decoration: none;
	text-decoration-line: none;
	color: black;
}

.hint_text_log_in_page{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-size: 13px;
	font-family: Roboto;
}

#logo_invoicer_big_log_in_page{
	margin-top: 8vh;
}

#email_input_log_in_page {
	margin-top: 0.1vh;
	margin-bottom: 1.5vh;
}
#password_input_log_in_page{
	margin-top: 1.5vh;
	margin-bottom: 0.1vh;
}	

#log_in_confirmation_button_log_in_page{
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#background_input_log_in_page{
	background-color: white;
	border-radius: 15px;
	padding: 15px;
}

#registration_page{
	background-color: rgba(233, 236, 246, 1)
}

#sign_up_text_registration_page{
	font-size: 2.1em;
	font-family: Roboto, serif;
	font-weight: 500;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

.hint_text_registration_page{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-size: 0.8em;
	font-family: Roboto, serif;
}

#background_input_registration_page{
	background-color: white;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#sign_up_confirmation_button_registration_page{
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}


.row-input{
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 0;
	padding-right: 0;
}



#client_edit_text{
	font-size: 2.1em;
	font-family: Roboto, serif;
	font-weight: 500;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

#client_edit_page{
	background-color: rgba(233, 236, 246, 1);
	padding: 25px;
}

#background_input_client_edit_page{
	background-color: white;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 5px;
	width: 99%;
}


/*.max-width {*/
/*	width: 100%;*/
/*}*/

.input_user_edit{
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-right: 2vh;
}

#column_save_changes_edit_client_page{
	display: flex;
	align-items: flex-end;
}

#save_button_edit_client_page{
	display: flex;
	justify-content: flex-end;
}


@media screen and (max-width: 576px) {
	#background_input_client_edit_page{
		background-color: white;
		border-radius: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 5px;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
}
