html {
	--md-sys-color-primary: rgb(0, 68, 255);
	--md-sys-color-secondary:	#018786;
	--md-sys-color-tertiary: #fff; 
	--md-sys-color-tertiary-container: #fff; 
	--md-sys-color-background: #fff;
	--md-sys-color-on-primary:	#ffffff;
	--md-sys-color-secondary: #ffffff;
	--md-sys-color-surface: #fff;
	--md-sys-color-inverse-on-surface: #fff;
	--md-sys-color-on-tertiary-container: #ffffff;
	/* tertiary */ 
	--md-sys-color-surface-variant: #ffffff;
	/* switch active state*/
	--md-sys-color-primary-container: #DEE1FF;
	/*	--md-fab-container-elevation: 0;*/
	/*	--md-sys-color-surface-light: #E2E7FF;*/
}
/* Log In Page */

#log_in_text{
	font-size: 32px;
	font-family: Roboto;
	font-weight: 500;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

#log_in_page{
	background-color: rgba(233, 236, 246, 1)
}

a{
	text-decoration: none;
	text-decoration-line: none;
	color: black;
}

.hint_text_log_in_page{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-size: 13px;
	font-family: Roboto;
}

#logo_invoicer_big_log_in_page{
	margin-top: 8vh;
}

#email_input_log_in_page {
	margin-top: 0.1vh;
	margin-bottom: 1.5vh;
}
#password_input_log_in_page{
	margin-top: 1.5vh;
	margin-bottom: 0.1vh;
}	

#log_in_confirmation_button_log_in_page{
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#background_input_log_in_page{
	background-color: white;
	border-radius: 15px;
	padding: 15px;
}


/* Registration Page */

#registration_page{
	background-color: rgba(233, 236, 246, 1)
}

#sign_up_text_registration_page{
	font-size: 2.1em;
	font-family: Roboto, serif;
	font-weight: 500;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

.hint_text_registration_page{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 24px;
	font-size: 0.8em;
	font-family: Roboto, serif;
}

#background_input_registration_page{
	background-color: white;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#sign_up_confirmation_button_registration_page{
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}

.row-input{
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 0;
	padding-right: 0;
}

/*Menu*/

.nav-pills>li>a {
	border-radius: 0;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
}

#wrapper.toggled {
	padding-left: 250px;
	overflow: hidden;

}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	/* overflow-x: hidden; */
	background: rgba(221, 228, 246, 1);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	position: absolute;
	padding: 15px;
	width: 100%;
	overflow-x: hidden;
}

.xyz {
	min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0px;
}

.fixed-brand {
	width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 2px;
}

.sidebar-nav li {
	text-indent: 15px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-family: Roboto;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #000;
	background: rgba(0, 0, 0, 0.05);
	max-width: 90%;
	border-radius: 0 20px 20px 0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.no-margin {
	margin: 0;
}

@media (min-width: 768px) {
	#wrapper {
		padding-left: 250px;
	}

	.fixed-brand {
		width: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled-2 #sidebar-wrapper {
		width: 61px;
	}

	#wrapper.toggled-2 #sidebar-wrapper:hover {
		width: 250px;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
		padding-left: 250px;
	}

	#wrapper.toggled-2 #page-content-wrapper {
		position: relative;
		margin-right: 0;
		margin-left: -200px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: auto;
	}
}

/*
.invoices_icon{
 background: url(./img/invoice.png);
  height: 16px;
  width: 16px;
  display: block;
}

.clients_icon{
  background: url('./img/clients.png');
  height: 16px;
  width: 16px;
  display: block;
}*/

.icon_menu {
	width: 75%;
	height: 75%;
	display: revert;
	margin-top: -5px;
}

.nav-stacked>li+li {
	margin-top: 25px;
	margin-left: 0;
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: rgb(255 255 255 / 48%);
	max-width: 90%;
	border-radius: 0 20px 20px 0;
	color: #000;
	font-weight: 500;
}

.fa-stack {
	margin-right: 10px;
}

#menu-toggle-2 {
	border: none;
	background-color: rgba(221, 228, 246, 1);
	display: flex;
	width: 61px;
	align-items: center;
	justify-content: center;
}

.navbar-header {
	display: flex;
}

#logo_img_menu {
	padding-left: 5px;
}

.navbar {
	display: flex;
	justify-content: flex-start;
	background-color: rgba(221, 228, 246, 1);
}

#user_name_column {
	padding: 0;
}

#user_icon_column {
	padding: 0;
}

p {
	margin-bottom: 0rem;
}

#user_name_and_icon_column {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.active {
	margin-top: -2px;
}


/*Add and edit new item Page*/

table {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 450;
	letter-spacing: 0.5px;
	font-size: 15px;
}

.first_col {
	width: 50%;
	padding: 5px;
	border-top: 1px solid rgba(0, 68, 255, 0.11);
	border-right: 1px solid rgba(0, 68, 255, 0.11);
	border-bottom: 1px solid rgba(0, 68, 255, 0.11);
}

.second_col {
	width: 50%;
	padding: 5px;
	border-top: 1px solid rgba(0, 68, 255, 0.11);
	border-left: 1px solid rgba(0, 68, 255, 0.11);
	border-bottom: 1px solid rgba(0, 68, 255, 0.11);
}

.centered {
	display: flex;
	justify-content: center;
	justify-items: center;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;

}

.input_field {
	margin-top: 0.1vh;
	margin-bottom: 1.5vh;
}

#additional_item_button {
	--md-sys-color-shadow: rgba(0, 68, 255, 0);
	--_container-height: 40px;
	--_label-text-color: rgba(87, 86, 86, 0.911);
	--_label-text-weight: 400;
	display: flex;
	justify-content: center;
}

.md-fab {
	--md-sys-color-shadow: rgba(0, 68, 255, 0);
}

.secondary_text {
	color: #888888;
	font-weight: 350;
}

#other_elements {
	padding-left: 15px;
	padding-right: 25px;
}

#new_item_text {
	font-size: 32px;
	font-family: Roboto;
	font-weight: 500;
}

#background_input_item_in_page {
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	margin: 0.5vw;
	height: fit-content;
}

.sort_icon {
	width: 26px;
    height: 26px;
	margin-left:1vw;
	margin-right:1vw;
}


/*Dropdown list*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
  height: 58px;
  border-radius: 5px;
  padding-left: 0px;
  color: #49454f;
  padding: 16px 16px;
  border: 1px solid #79747e;
  cursor: pointer;
  user-select: none;
}

.select-selected:hover {
	border: 1px solid #000;
  }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 26px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color:#49454f transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 68, 255) transparent;
  top: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div{
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 8px 13px 1px rgb(131 131 130);
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #f1efef;
}
