<div class="ui fluid search selection dropdown currency_dropdown">
    <input type="hidden" id="currency_input_dropdown" name="currency">
    <i class="dropdown icon"></i>
    <div class="default text" id="select_currency_div" data-i18n="Select currency">Select currency</div>
    <div class="menu currency_menu">
        <div class="item" data-value="AUD"><i class="au flag"></i>AUD</div>
        <div class="item" data-value="AZN"><i class="az flag"></i>AZN</div>
        <div class="item" data-value="BYN"><i class="by flag"></i>BYN</div>
        <div class="item" data-value="BGN"><i class="bg flag"></i>BGN</div>
        <div class="item" data-value="KRW"><i class="kr flag"></i>KRW</div>
        <div class="item" data-value="HKD"><i class="hk flag"></i>HKD</div>
        <div class="item" data-value="DKK"><i class="dk flag"></i>DKK</div>
        <div class="item" data-value="USD"><i class="us flag"></i>USD</div>
        <div class="item" data-value="EUR"><i class="eu flag"></i>EUR</div>
        <div class="item" data-value="EGP"><i class="eg flag"></i>EGP</div>
        <div class="item" data-value="JPY"><i class="jp flag"></i>JPY</div>
        <div class="item" data-value="PLN"><i class="pl flag"></i>PLN</div>
        <div class="item" data-value="INR"><i class="in flag"></i>INR</div>
        <div class="item" data-value="CAD"><i class="ca flag"></i>CAD</div>
        <div class="item" data-value="RON"><i class="ro flag"></i>RON</div>
        <div class="item" data-value="IDR"><i class="id flag"></i>IDR</div>
        <div class="item" data-value="UAH"><i class="ua flag"></i>UAH</div>
        <div class="item" data-value="SGD"><i class="sg flag"></i>SGD</div>
        <div class="item" data-value="KZT"><i class="kz flag"></i>KZT</div>
        <div class="item" data-value="TRY"><i class="tr flag"></i>TRY</div>
        <div class="item" data-value="HUF"><i class="hu flag"></i>HUF</div>
        <div class="item" data-value="GBP"><i class="gb flag"></i>GBP</div>
        <div class="item" data-value="CZK"><i class="cz flag"></i>CZK</div>
        <div class="item" data-value="CHF"><i class="se flag"></i>CHF</div>
        <div class="item" data-value="SEK"><i class="ch flag"></i>SEK</div>
        <div class="item" data-value="CNY"><i class="cn flag"></i>CNY</div>
    </div>
</div>
<div class="error_currency_dropdown" style="display: none;" data-i18n="empty_field_error">Can't be empty</div>
