<div class="ui fluid search selection dropdown">
    <input type="hidden" id="currency_input_dropdown" name="currency">
    <i class="dropdown icon"></i>
    <div class="default text" id="select_currency_div" data-i18n="Select currency">Select currency</div>
    <div class="menu">
        <div class="item" data-value="AUD"><i class="au flag"></i>AUD</div>
        <div class="item" data-value="AZN"><i class="az flag"></i>AZN</div>
        <div class="item" data-value="BYN"><i class="by flag"></i>BYN</div>
        <div class="item" data-value="BGN"><i class="bg flag"></i>BGN</div>


{#        <div class="item" data-value="Aland Islands"><i class="ax flag"></i>Aland Islands</div>#}
{#        <div class="item" data-value="Albania"><i class="al flag"></i>Albania</div>#}
{#        <div class="item" data-value="Algeria"><i class="dz flag"></i>Algeria</div>#}
{#        <div class="item" data-value="American Samoa"><i class="as flag"></i>American Samoa</div>#}
{#        <div class="item" data-value="Andorra"><i class="ad flag"></i>Andorra</div>#}
{#        <div class="item" data-value="Angola"><i class="ao flag"></i>Angola</div>#}
{#        <div class="item" data-value="Anguilla"><i class="ai flag"></i>Anguilla</div>#}
{#        <div class="item" data-value="Antigua"><i class="ag flag"></i>Antigua</div>#}
{#        <div class="item" data-value="Argentina"><i class="ar flag"></i>Argentina</div>#}
{#        <div class="item" data-value="Armenia"><i class="am flag"></i>Armenia</div>#}
{#        <div class="item" data-value="Aruba"><i class="aw flag"></i>Aruba</div>#}
    </div>
</div>
<div class="error_country_dropdown" style="display: none;" data-i18n="empty_field_error">Can't be empty</div>
