<div class="ui fluid search selection dropdown">
    <input type="hidden" id="unit-list" name="unit">
    <i class="dropdown icon"></i>
    <div class="default text">Select unit</div>
    <div class="menu">
        <div class="item" data-value="kg">kg</div>
        <div class="item" data-value="mg">mg</div>
        <div class="item" data-value="g">g</div>
        <div class="item" data-value="piece">piece</div>
    </div>
</div>
<div class="error_country_dropdown" style="display: none;">Unit can't be empty</div>