<div class="ui fluid search selection dropdown units_dropdown">
    <input type="hidden" id="units_input_dropdown" name="currency">
    <i class="dropdown icon"></i>
    <div class="default text" id="select_unit_div" data-i18n="Select unit">Select unit</div>
    <div class="menu">
        <div class="item" data-value="Piece">Pc.</div>
        <div class="item" data-value="kg.">kg.</div>
        <div class="item" data-value="g.">g.</div>
        <div class="item" data-value="Pack">Pack</div>
        <div class="item" data-value="L.">L.</div>
        <div class="item" data-value="Box">Box</div>
        <div class="item" data-value="Ctn.">Ctn.</div>
        <div class="item" data-value="Pallet">Pallet</div>
        <div class="item" data-value="Dz.">Dz.</div>
        <div class="item" data-value="Gr.">Gr.</div>
        <div class="item" data-value="Pair">Pair</div>
        <div class="item" data-value="Ream">Ream</div>
        <div class="item" data-value="Bundle">Bundle</div>
        <div class="item" data-value="Case">Case</div>
        <div class="item" data-value="Barrel">Barrel</div>
        <div class="item" data-value="Gal.">Gal.</div>
        <div class="item" data-value="lb.">lb.</div>
        <div class="item" data-value="oz.">oz.</div>
    </div>
</div>
<div class="error_unit_dropdown" style="display: none;" data-i18n="empty_field_error">Can't be empty</div>
