<div class="ui fluid search selection dropdown">
    <input type="hidden" id="units_input_dropdown" name="currency">
    <i class="dropdown icon"></i>
    <div class="default text" id="select_unit_div" data-i18n="Select unit">Select unit</div>
    <div class="menu">
        <div class="item" data-value="Piece">Piece</div>
        <div class="item" data-value="Kg.">kg.</div>
        <div class="item" data-value="g.">g.</div>
        <div class="item" data-value="Pack">Pack</div>
        <div class="item" data-value="Liter">Liter</div>
        <div class="item" data-value="Box">Box</div>
        <div class="item" data-value="Carton">Carton</div>
        <div class="item" data-value="Pallet">Pallet</div>
        <div class="item" data-value="Dozen">Dozen</div>
        <div class="item" data-value="Gross">Gross</div>
        <div class="item" data-value="Pair">Pair</div>
        <div class="item" data-value="Ream">Ream</div>
        <div class="item" data-value="Bundle">Bundle</div>
        <div class="item" data-value="Case">Case</div>
        <div class="item" data-value="Barrel">Barrel</div>
        <div class="item" data-value="Gallon">Gallon</div>
        <div class="item" data-value="Pound">Pound</div>
        <div class="item" data-value="Ounce">Ounce</div>
    </div>
</div>
<div class="error_unit_dropdown" style="display: none;" data-i18n="empty_field_error">Can't be empty</div>
