<div class="ui fluid search selection dropdown units_dropdown">
    <input type="hidden" id="units_input_dropdown" name="currency">
    <i class="dropdown icon"></i>
    <div class="default text" id="select_unit_div" data-i18n="Select unit">Select unit</div>
    <div class="menu units_menu">
        <div class="item units_item" data-value="piece">pc.</div>
        <div class="item units_item" data-value="kg.">kg.</div>
        <div class="item units_item" data-value="g.">g.</div>
        <div class="item units_item" data-value="pack">pack</div>
        <div class="item units_item" data-value="l.">l.</div>
        <div class="item units_item" data-value="box">box</div>
        <div class="item units_item" data-value="ctn.">ctn.</div>
        <div class="item units_item" data-value="pallet">pallet</div>
        <div class="item units_item" data-value="dz.">dz.</div>
        <div class="item units_item" data-value="pair">pair</div>
        <div class="item units_item" data-value="bundle">bundle</div>
        <div class="item units_item" data-value="barrel">barrel</div>
        <div class="item units_item" data-value="gal.">gal.</div>
        <div class="item units_item" data-value="lb.">lb.</div>
        <div class="item units_item" data-value="oz.">oz.</div>
    </div>
</div>
<div class="error_unit_dropdown" style="display: none;" data-i18n="empty_field_error">Can't be empty</div>
